<% if (flashSuccess && flashSuccess.length) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= flashSuccess %>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
    ></button>
</div>
<% } else if (flashError && flashError.length) { %>
<div
    class="alert alert-danger alert-dismissible fade show text-center"
    role="alert"
>
    <%= flashError %>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
    ></button>
</div>
<% } %>
