<footer class="footer bg-dark py-3 mt-3">
    <div class="container">
        <span class="text-muted"
            >&copy; YelpCamp -
            <a
                class="credit-link"
                href="https://github.com/elmahdigaga"
                target="_blank"
                ><strong>EL MAHDI GAGA</strong></a
            ></span
        >
    </div>
</footer>
